@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
}
 header, nav, section {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #303030;
  text-align: left;
  background-color: #fff;
}
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul {
  margin-bottom: 0;
}

strong {
  font-weight: bolder;
}
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
pre,
code {
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
th {
  text-align: inherit;
}
button {
  border-radius: 0;
}
input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  overflow: auto;
  resize: vertical;
}
[type="search"] {
  outline-offset: -2px;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
h1, h2, h3,
.h1, .h2, .h3 {
  margin-bottom: 0.25rem;
  font-weight: 600;
  line-height: 1.2;
  color: #303030;
}
h1, .h1 {
  font-size: 2.1875rem;
}
h2, .h2 {
  font-size: 1.75rem;
}
h3, .h3 {
  font-size: 1.53125rem;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
code {
  font-size: 90%;
  color: #1f1f1f;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
pre {
  display: block;
  font-size: 90%;
  color: #303030;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.table {
  width: 100%;
  margin-bottom: 0.5rem;
  color: #303030;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dbdbdb;
}
 .search form {
  display: block;
  width: 100%;
  height: 34px;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #303030;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
}

@media (prefers-reduced-motion: reduce) {
}
 .search form:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #303030;
}
 .search form::placeholder {
  color: #5e5e5e;
  opacity: 1;
}
 .search form:disabled {
  background-color: #fafafa;
  opacity: 1;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@media (min-width: 576px) {
   .form-inline .search form, .search .form-inline form {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #303030;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 20px;
  border-radius: 0.25rem;
}

@media (prefers-reduced-motion: reduce) {
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
}
a.btn.disabled {
  pointer-events: none;
}
.collapse:not(.show) {
  display: none;
}

.dropdown {
  position: relative;
}
 .dropdown-menu-toggle {
  white-space: nowrap;
}
 .dropdown-menu-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
 .dropdown-menu-toggle:empty::after {
  margin-left: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #303030;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
 .divider {
  height: 0;
  margin: 4px 0;
  overflow: hidden;
  border-top: 1px solid #dbdbdb;
}
.dropdown-menu.show {
  display: block;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}
.navbar .container,
.navbar .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

@media (prefers-reduced-motion: reduce) {
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
.media {
  display: flex;
  align-items: flex-start;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  appearance: none;
}
a.close.disabled {
  pointer-events: none;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
.bg-transparent {
  background-color: transparent !important;
}
.border {
  border: 1px solid #dbdbdb !important;
}
.border-top {
  border-top: 1px solid #dbdbdb !important;
}
.border-right {
  border-right: 1px solid #dbdbdb !important;
}
.border-bottom {
  border-bottom: 1px solid #dbdbdb !important;
}
.border-left {
  border-left: 1px solid #dbdbdb !important;
}
.rounded {
  border-radius: 0.25rem !important;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.d-none {
  display: none !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.float-right {
  float: right !important;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.m-auto {
  margin: auto !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.visible {
  visibility: visible !important;
}
 .search form.focus {
  color: #303030;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.gl-badge {
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  outline: none;
}
body, .search form,
.search form {
  font-size: 0.875rem;
}
button,
html [type='button'],
[type='reset'],
[role='button'] {
  cursor: pointer;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
input[type='file'] {
  line-height: 1;
}

strong {
  font-weight: bold;
}
a {
  color: #1068bf;
}
code {
  padding: 2px 4px;
  color: #1f1f1f;
  background-color: #f0f0f0;
  border-radius: 4px;
}
.code > code {
  background-color: inherit;
  padding: unset;
}
table {
  border-spacing: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.hide {
  display: none;
}
 .dropdown-menu-toggle::after {
  display: none;
}
.badge:not(.gl-badge) {
  padding: 4px 5px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
}
pre code {
  white-space: pre-wrap;
}
.toggle-sidebar-button .collapse-text,
.toggle-sidebar-button .icon-chevron-double-lg-left,
.toggle-sidebar-button .icon-chevron-double-lg-right {
  color: #666;
}
svg {
  vertical-align: baseline;
}
html {
  overflow-y: scroll;
}
body {
  text-decoration-skip: ink;
}
.content-wrapper {
  margin-top: 40px;
  padding-bottom: 100px;
}
.container {
  padding-top: 0;
  z-index: 5;
}
.container .content {
  margin: 0;
}

@media (max-width: 575.98px) {
  .container .content {
    margin-top: 20px;
  }
}

@media (max-width: 575.98px) {
  .container .container .title {
    padding-left: 15px !important;
  }
}
.btn {
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 6px 10px;
  background-color: #fff;
  border-color: #dbdbdb;
  color: #303030;
  color: #303030;
  white-space: nowrap;
}
.btn:active, .btn.active {
  background-color: #eaeaea;
  border-color: #e3e3e3;
  color: #303030;
}
.btn svg {
  height: 15px;
  width: 15px;
}
.btn svg:not(:last-child),
.btn .fa:not(:last-child) {
  margin-right: 5px;
}
.badge.badge-pill:not(.gl-badge) {
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.07);
  color: #525252;
  vertical-align: baseline;
}
.hint {
  font-style: italic;
  color: #bfbfbf;
}
.bold {
  font-weight: 600;
}
pre.wrap {
  word-break: break-word;
  white-space: pre-wrap;
}
table a code {
  position: relative;
  top: -2px;
  margin-right: 3px;
}
.loading {
  margin: 20px auto;
  height: 40px;
  color: #525252;
  font-size: 32px;
  text-align: center;
}
.highlight {
  text-shadow: none;
}
.chart {
  overflow: hidden;
  height: 220px;
}
.break-word {
  word-wrap: break-word;
}
.center {
  text-align: center;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.dropdown {
  position: relative;
}
.show.dropdown .dropdown-menu {
  transform: translateY(0);
  display: block;
  min-height: 40px;
  max-height: 312px;
  overflow-y: auto;
}

@media (max-width: 575.98px) {
  .show.dropdown .dropdown-menu {
    width: 100%;
  }
}
 .show.dropdown .dropdown-menu-toggle,
.show.dropdown .dropdown-menu-toggle {
  border-color: #c4c4c4;
}
.show.dropdown [data-toggle='dropdown'] {
  outline: 0;
}
.search-input-container .dropdown-menu {
  margin-top: 11px;
}
 .dropdown-menu-toggle {
  padding: 6px 8px 6px 10px;
  background-color: #fff;
  color: #303030;
  font-size: 14px;
  text-align: left;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
  white-space: nowrap;
}
 .no-outline.dropdown-menu-toggle {
  outline: 0;
}
 .dropdown-menu-toggle .fa {
  color: #c4c4c4;
}
.dropdown-menu-toggle {
  padding-right: 25px;
  position: relative;
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dropdown-menu-toggle .fa {
  position: absolute;
}
.dropdown-menu {
  display: none;
  position: absolute;
  width: auto;
  top: 100%;
  z-index: 300;
  min-width: 240px;
  max-width: 500px;
  margin-top: 4px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown-menu ul {
  margin: 0;
  padding: 0;
}
.dropdown-menu li {
  display: block;
  text-align: left;
  list-style: none;
  padding: 0 1px;
}
.dropdown-menu li > a,
.dropdown-menu li button {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  display: block;
  font-weight: 400;
  position: relative;
  padding: 8px 12px;
  color: #303030;
  line-height: 16px;
  white-space: normal;
  overflow: hidden;
  text-align: left;
  width: 100%;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 0.25rem 0;
  padding: 0;
  background-color: #dbdbdb;
}
.dropdown-menu .badge.badge-pill + span:not(.badge.badge-pill) {
  margin-right: 40px;
}
.dropdown-select {
  width: 300px;
}

@media (max-width: 767.98px) {
  .dropdown-select {
    width: 100%;
  }
}
.dropdown-content {
  max-height: 252px;
  overflow-y: auto;
}
.dropdown-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 28px;
}
.dropdown-loading .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}

@media (max-width: 575.98px) {
  .navbar-gitlab li.dropdown {
    position: static;
  }
  header.navbar-gitlab .dropdown .dropdown-menu {
    width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .dropdown-menu-toggle {
    width: 100%;
  }
}
textarea {
  resize: vertical;
}
input {
  border-radius: 0.25rem;
  color: #303030;
  background-color: #fff;
}
 .search form {
  border-radius: 4px;
  padding: 6px 10px;
}
 .search form::placeholder {
  color: #868686;
}
.navbar-gitlab {
  padding: 0 16px;
  z-index: 1000;
  margin-bottom: 0;
  min-height: 40px;
  border: 0;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
}
.navbar-gitlab .logo-text {
  line-height: initial;
}
.navbar-gitlab .logo-text svg {
  width: 55px;
  height: 14px;
  margin: 0;
  fill: #fff;
}
.navbar-gitlab .close-icon {
  display: none;
}
.navbar-gitlab .header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 40px;
  padding-left: 0;
}
.navbar-gitlab .header-content .title-container {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  padding-top: 0;
  overflow: visible;
}
.navbar-gitlab .header-content .title {
  padding-right: 0;
  color: currentColor;
  display: flex;
  position: relative;
  margin: 0;
  font-size: 18px;
  vertical-align: top;
  white-space: nowrap;
}
.navbar-gitlab .header-content .title img {
  height: 28px;
}
.navbar-gitlab .header-content .title img + .logo-text {
  margin-left: 8px;
}
.navbar-gitlab .header-content .title.wrap {
  white-space: normal;
}
.navbar-gitlab .header-content .title a {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  margin: 5px 2px 5px -8px;
  border-radius: 4px;
}
.navbar-gitlab .header-content .dropdown.open > a {
  border-bottom-color: #fff;
}
.navbar-gitlab .header-content .navbar-collapse > ul.nav > li:not(.d-none) {
  margin: 0 2px;
}
.navbar-gitlab .navbar-collapse {
  flex: 0 0 auto;
  border-top: 0;
  padding: 0;
}

@media (max-width: 575.98px) {
  .navbar-gitlab .navbar-collapse {
    flex: 1 1 auto;
  }
}
.navbar-gitlab .navbar-collapse .nav {
  flex-wrap: nowrap;
}

@media (max-width: 575.98px) {
  .navbar-gitlab .navbar-collapse .nav > li:not(.d-none) a {
    margin-left: 0;
  }
}
.navbar-gitlab .container-fluid {
  padding: 0;
}
.navbar-gitlab .container-fluid .user-counter svg {
  margin-right: 3px;
}
.navbar-gitlab .container-fluid .navbar-toggler {
  position: relative;
  right: -10px;
  border-radius: 0;
  min-width: 45px;
  padding: 0;
  margin: 8px -7px 8px 0;
  font-size: 14px;
  text-align: center;
  color: currentColor;
}

@media (max-width: 575.98px) {
  .navbar-gitlab .container-fluid .navbar-nav {
    display: flex;
    padding-right: 10px;
    flex-direction: row;
  }
}
.navbar-gitlab .container-fluid .navbar-nav li .badge.badge-pill {
  box-shadow: none;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .navbar-gitlab .container-fluid .nav > li.header-user {
    padding-left: 10px;
  }
}
.navbar-gitlab .container-fluid .nav > li > a {
  will-change: color;
  margin: 4px 0;
  padding: 6px 8px;
  height: 32px;
}

@media (max-width: 575.98px) {
  .navbar-gitlab .container-fluid .nav > li > a {
    padding: 0;
  }
}
.navbar-gitlab .container-fluid .nav > li > a.header-user-dropdown-toggle {
  margin-left: 2px;
}
.navbar-gitlab .container-fluid .nav > li > a.header-user-dropdown-toggle .header-user-avatar {
  margin-right: 0;
}
.navbar-gitlab .container-fluid .nav > li .header-new-dropdown-toggle {
  margin-right: 0;
}
.navbar-sub-nav > li > a,
.navbar-sub-nav > li > button,
.navbar-nav > li > a,
.navbar-nav > li > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  margin: 4px 2px;
  font-size: 12px;
  color: currentColor;
  border-radius: 4px;
  height: 32px;
  font-weight: 600;
}
.navbar-sub-nav > li > button,
.navbar-nav > li > button {
  background: transparent;
  border: 0;
}
.navbar-sub-nav .dropdown-menu,
.navbar-nav .dropdown-menu {
  position: absolute;
}
.navbar-sub-nav {
  display: flex;
  margin: 0 0 0 6px;
}
.caret-down,
.btn .caret-down {
  top: 0;
  height: 11px;
  width: 11px;
  margin-left: 4px;
  fill: currentColor;
}
.header-user .dropdown-menu,
.header-new .dropdown-menu {
  margin-top: 4px;
}
.btn-sign-in {
  background-color: #ebebfa;
  color: #292961;
  font-weight: 600;
  line-height: 18px;
  margin: 4px 0 4px 2px;
}
.title-container .badge.badge-pill:not(.merge-request-badge),
.navbar-nav .badge.badge-pill:not(.merge-request-badge) {
  position: inherit;
  font-weight: 400;
  margin-left: -6px;
  font-size: 11px;
  color: #fff;
  padding: 0 5px;
  line-height: 12px;
  border-radius: 7px;
  box-shadow: 0 1px 0 rgba(76, 78, 84, 0.2);
}
.title-container .badge.badge-pill.green-badge,
.navbar-nav .badge.badge-pill.green-badge {
  background-color: #108548;
}
.title-container .badge.badge-pill.merge-requests-count,
.navbar-nav .badge.badge-pill.merge-requests-count {
  background-color: #de7e00;
}
.title-container .badge.badge-pill.todos-count,
.navbar-nav .badge.badge-pill.todos-count {
  background-color: #1f75cb;
}
.title-container .canary-badge .badge,
.navbar-nav .canary-badge .badge {
  font-size: 12px;
  line-height: 16px;
  padding: 0 0.5rem;
}

@media (max-width: 575.98px) {
  .navbar-gitlab .container-fluid {
    font-size: 18px;
  }
  .navbar-gitlab .container-fluid .navbar-nav {
    table-layout: fixed;
    width: 100%;
    margin: 0;
    text-align: right;
  }
  .navbar-gitlab .container-fluid .navbar-collapse {
    margin-left: -8px;
    margin-right: -10px;
  }
  .navbar-gitlab .container-fluid .navbar-collapse .nav > li:not(.d-none) {
    flex: 1;
  }
  .header-user-dropdown-toggle {
    text-align: center;
  }
  .header-user-avatar {
    float: none;
  }
}
.header-user.show .dropdown-menu {
  margin-top: 4px;
  color: #303030;
  left: auto;
  max-height: 445px;
}
.header-user.show .dropdown-menu svg {
  vertical-align: text-top;
}
.header-user-avatar {
  float: left;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
}
.media {
  display: flex;
  align-items: flex-start;
}
.card {
  margin-bottom: 16px;
}
.content-wrapper {
  width: 100%;
}
.content-wrapper .container-fluid {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .page-with-contextual-sidebar {
    padding-left: 50px;
  }
}

@media (min-width: 1200px) {
  .page-with-contextual-sidebar {
    padding-left: 220px;
  }
}
.context-header {
  position: relative;
  margin-right: 2px;
  width: 220px;
}
.context-header > a,
.context-header > button {
  font-weight: 600;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 16px 10px 10px;
  color: #303030;
  background-color: transparent;
  border: 0;
  text-align: left;
}
.context-header .avatar-container {
  flex: 0 0 40px;
  background-color: #fff;
}
.context-header .sidebar-context-title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.context-header .sidebar-context-title.text-secondary {
  font-weight: normal;
  font-size: 0.8em;
}
.nav-sidebar {
  position: fixed;
  z-index: 600;
  width: 220px;
  top: 40px;
  bottom: 0;
  left: 0;
  background-color: #fafafa;
  box-shadow: inset -1px 0 0 #dbdbdb;
  transform: translate3d(0, 0, 0);
}

@media (min-width: 576px) and (max-width: 576px) {
  .nav-sidebar:not(.sidebar-collapsed-desktop) {
    box-shadow: inset -1px 0 0 #dbdbdb, 2px 1px 3px rgba(0, 0, 0, 0.1);
  }
}
.nav-sidebar.sidebar-collapsed-desktop {
  width: 50px;
}
.nav-sidebar.sidebar-collapsed-desktop .nav-sidebar-inner-scroll {
  overflow-x: hidden;
}
.nav-sidebar.sidebar-collapsed-desktop .badge.badge-pill:not(.fly-out-badge),
.nav-sidebar.sidebar-collapsed-desktop .sidebar-context-title,
.nav-sidebar.sidebar-collapsed-desktop .nav-item-name {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.nav-sidebar.sidebar-collapsed-desktop .sidebar-top-level-items > li > a {
  min-height: 45px;
}
.nav-sidebar.sidebar-collapsed-desktop .fly-out-top-item {
  display: block;
}
.nav-sidebar.sidebar-collapsed-desktop .avatar-container {
  margin: 0 auto;
}
.nav-sidebar.sidebar-expanded-mobile {
  left: 0;
}
.nav-sidebar a {
  text-decoration: none;
}
.nav-sidebar ul {
  padding-left: 0;
  list-style: none;
}
.nav-sidebar li {
  white-space: nowrap;
}
.nav-sidebar li a {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: #666;
}
.nav-sidebar li .nav-item-name {
  flex: 1;
}
.nav-sidebar li.active > a {
  font-weight: 600;
}

@media (max-width: 767.98px) {
  .nav-sidebar {
    left: -220px;
  }
}
.nav-sidebar .nav-icon-container {
  display: flex;
  margin-right: 8px;
}
.nav-sidebar .fly-out-top-item {
  display: none;
}
.nav-sidebar svg {
  height: 16px;
  width: 16px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .nav-sidebar:not(.sidebar-expanded-mobile) {
    width: 50px;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .nav-sidebar-inner-scroll {
    overflow-x: hidden;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .badge.badge-pill:not(.fly-out-badge),
  .nav-sidebar:not(.sidebar-expanded-mobile) .sidebar-context-title,
  .nav-sidebar:not(.sidebar-expanded-mobile) .nav-item-name {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .sidebar-top-level-items > li > a {
    min-height: 45px;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .fly-out-top-item {
    display: block;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .avatar-container {
    margin: 0 auto;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .context-header {
    height: 60px;
    width: 50px;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .context-header a {
    padding: 10px 4px;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .sidebar-top-level-items > li .sidebar-sub-level-items:not(.flyout-list) {
    display: none;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .nav-icon-container {
    margin-right: 0;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .toggle-sidebar-button {
    padding: 16px;
    width: 49px;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .toggle-sidebar-button .collapse-text,
  .nav-sidebar:not(.sidebar-expanded-mobile) .toggle-sidebar-button .icon-chevron-double-lg-left {
    display: none;
  }
  .nav-sidebar:not(.sidebar-expanded-mobile) .toggle-sidebar-button .icon-chevron-double-lg-right {
    display: block;
    margin: 0;
  }
}
.nav-sidebar-inner-scroll {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.sidebar-sub-level-items {
  display: none;
  padding-bottom: 8px;
}
.sidebar-sub-level-items > li a {
  padding: 8px 16px 8px 40px;
}
.sidebar-top-level-items {
  margin-bottom: 60px;
}

@media (min-width: 576px) {
  .sidebar-top-level-items > li > a {
    margin-right: 1px;
  }
}
.sidebar-top-level-items > li .badge.badge-pill {
  background-color: rgba(0, 0, 0, 0.08);
  color: #666;
}
.sidebar-top-level-items > li.active {
  background: rgba(0, 0, 0, 0.04);
}
.sidebar-top-level-items > li.active > a {
  margin-left: 4px;
  padding-left: 12px;
}
.sidebar-top-level-items > li.active .badge.badge-pill {
  font-weight: 600;
}
.sidebar-top-level-items > li.active .sidebar-sub-level-items:not(.is-fly-out-only) {
  display: block;
}
.toggle-sidebar-button,
.close-nav-button {
  width: 219px;
  position: fixed;
  height: 48px;
  bottom: 0;
  padding: 0 16px;
  background-color: #fafafa;
  border: 0;
  border-top: 1px solid #dbdbdb;
  color: #666;
  display: flex;
  align-items: center;
}
.toggle-sidebar-button svg,
.close-nav-button svg {
  margin-right: 8px;
}
.toggle-sidebar-button .icon-chevron-double-lg-right,
.close-nav-button .icon-chevron-double-lg-right {
  display: none;
}
.collapse-text {
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-collapsed-desktop .context-header {
  height: 60px;
  width: 50px;
}
.sidebar-collapsed-desktop .context-header a {
  padding: 10px 4px;
}
.sidebar-collapsed-desktop .sidebar-top-level-items > li .sidebar-sub-level-items:not(.flyout-list) {
  display: none;
}
.sidebar-collapsed-desktop .nav-icon-container {
  margin-right: 0;
}
.sidebar-collapsed-desktop .toggle-sidebar-button {
  padding: 16px;
  width: 49px;
}
.sidebar-collapsed-desktop .toggle-sidebar-button .collapse-text,
.sidebar-collapsed-desktop .toggle-sidebar-button .icon-chevron-double-lg-left {
  display: none;
}
.sidebar-collapsed-desktop .toggle-sidebar-button .icon-chevron-double-lg-right {
  display: block;
  margin: 0;
}
.fly-out-top-item > a {
  display: flex;
}
.fly-out-top-item .fly-out-badge {
  margin-left: 8px;
}
.fly-out-top-item-name {
  flex: 1;
}
.close-nav-button {
  display: none;
}

@media (max-width: 767.98px) {
  .close-nav-button {
    display: flex;
  }
  .toggle-sidebar-button {
    display: none;
  }
}
table.table {
  margin-bottom: 16px;
}
table.table .dropdown-menu a {
  text-decoration: none;
}
table.table .success,
table.table .info {
  color: #fff;
}
table.table .success a:not(.btn),
table.table .info a:not(.btn) {
  text-decoration: underline;
  color: #fff;
}
pre {
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  display: block;
  padding: 8px 12px;
  margin: 0 0 8px;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  color: #303030;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}
.monospace {
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #868686;
  opacity: 1;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #868686;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #868686;
}
svg {
  fill: currentColor;
}

svg.s12 {
  width: 12px;
  height: 12px;
}

svg.s16 {
  width: 16px;
  height: 16px;
}

svg.s18 {
  width: 18px;
  height: 18px;
}

svg.s12 {
  vertical-align: -1px;
}

svg.s16 {
  vertical-align: -3px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
table.code {
  width: 100%;
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  border: 0;
  border-collapse: separate;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  border-radius: 0 0 4px 4px;
}
.frame .badge.badge-pill {
  position: absolute;
  background-color: #428fdc;
  color: #fff;
  border: #fff 1px solid;
  min-height: 16px;
  padding: 5px 8px;
  border-radius: 12px;
}
.frame .badge.badge-pill {
  transform: translate(-50%, -50%);
}
.color-label {
  padding: 0 0.5rem;
  line-height: 16px;
  border-radius: 100px;
  color: #fff;
}
.label-link {
  display: inline-flex;
  vertical-align: text-bottom;
}
.milestones {
  padding: 8px;
  margin-top: 8px;
  border-radius: 4px;
  background-color: #dbdbdb;
}
.search {
  margin: 0 8px;
}
.search form {
  margin: 0;
  padding: 4px;
  width: 200px;
  line-height: 24px;
  height: 32px;
  border: 0;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .search form {
    width: 320px;
  }
}
.search .search-input {
  border: 0;
  font-size: 14px;
  padding: 0 20px 0 0;
  margin-left: 5px;
  line-height: 25px;
  width: 98%;
  color: #fff;
  background: none;
}
.search .search-input-container {
  display: flex;
  position: relative;
}
.search .search-input-wrap {
  width: 100%;
}
.search .search-input-wrap .search-icon,
.search .search-input-wrap .clear-icon {
  position: absolute;
  right: 5px;
  top: 4px;
}
.search .search-input-wrap .search-icon {
  -moz-user-select: none;
  user-select: none;
}
.search .search-input-wrap .clear-icon {
  display: none;
}
.search .search-input-wrap .dropdown {
  position: static;
}
.search .search-input-wrap .dropdown-menu {
  left: -5px;
  max-height: 400px;
  overflow: auto;
}

@media (min-width: 1200px) {
  .search .search-input-wrap .dropdown-menu {
    width: 320px;
  }
}
.search .search-input-wrap .dropdown-content {
  max-height: 382px;
}
.settings {
  border-top: 1px solid #dbdbdb;
}
.settings:first-of-type {
  margin-top: 10px;
  border: 0;
}
.settings + div .settings:first-of-type {
  margin-top: 0;
  border-top: 1px solid #dbdbdb;
}
.avatar, .avatar-container {
  float: left;
  margin-right: 16px;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
}
.s16.avatar, .s16.avatar-container {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.s18.avatar, .s18.avatar-container {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.s40.avatar, .s40.avatar-container {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.avatar {
  transition-property: none;
  width: 40px;
  height: 40px;
  padding: 0;
  background: #fdfdfd;
  overflow: hidden;
  border-color: rgba(0, 0, 0, 0.1);
}
.avatar.center {
  font-size: 14px;
  line-height: 1.8em;
  text-align: center;
}
.avatar.avatar-tile {
  border-radius: 0;
  border: 0;
}
.avatar-container {
  overflow: hidden;
  display: flex;
}
.avatar-container a {
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
}
.avatar-container .avatar {
  border-radius: 0;
  border: 0;
  height: auto;
  width: 100%;
  margin: 0;
  align-self: center;
}
.avatar-container.s40 {
  min-width: 40px;
  min-height: 40px;
}
.rect-avatar {
  border-radius: 2px;
}
.rect-avatar.s16 {
  border-radius: 2px;
}
.rect-avatar.s18 {
  border-radius: 2px;
}
.rect-avatar.s40 {
  border-radius: 4px;
}
.tab-width-8 {
  -moz-tab-size: 8;
  tab-size: 8;
}
.gl-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.gl-ml-3 {
  margin-left: 0.5rem;
}
.content-wrapper > .alert-wrapper,
#content-body, .modal-dialog {
  display: block;
}
@import 'cloaking';
@include cloak-startup-scss(none);
